@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  margin-bottom: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

ul {

  list-style-type: none;
}

.header {
  margin: 0;
  margin-bottom: auto;
  padding: 10px;
  display: flex;
}

.left-links {

  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
  gap: 24px;
}


.right-links
{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}

/* To ensure that the footer stays at the bottom of the page we must first change the body to 100vh and this makes sure the page size and the change the margin
top to auto along with the flex-direction to be colum */
.footer {

margin: 0;
padding: 10px;
display: flex;
margin-top: auto;
background-color: #eeeeee;

}

/* from the try class to the input class of the css it mightve been easier to just edit the html but nonethless the same results habve been seen */

.try {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


